.campo-parcelas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary);
    width: 30%;
    height: 50%;
    border: 1px solid var(--primary);
    border-radius: 3em;
    font-size: 1.4em;
    text-align: center;
    margin-right: 3%;
    outline: none;
}

.parcelas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 10%;
}

.text-parcelas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--primary);
    width: 30%;
    height: 30%;
    margin-right: 10%;
}