.carteira-nome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 100%;
    margin-left: .3em;
  }
  .carteira-text {
    font-weight: 800;
    margin-bottom: 0.2em;
  }