.carteira-box {
    width: 90%;
    height: 40%;
    border: 1px solid var(--shadow);
    border-radius: 0.4em;
    background-color: #fff;
    transform: translateY(10%);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}