body {
    --primary: #54a8ff;
    --shadow: rgb(190, 189, 189);
    --secundary: #f2f2f2;
    --tercearia: #D2E4FA;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-inicial {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.campo-valores {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    box-shadow: 0px 3px 0px 0px var(--shadow);
    background-color: var(--primary);
}

.valores {
    display: flex;
    font-size: 2em;
    color: #fff;
}

.rodape {
    display: flex;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px 25px -1px var(--shadow);
    width: 100%;
    height: 8%;
    justify-content: center;
    background-color: #fff;
    z-index: 5;
}

.button-add {
    position: absolute;
    transform: translateY(-35%);
    width: 5em;
    height: 5em;
    border-radius: 100em;
    border: none;
    background-color: var(--primary);
    outline: 0;
}

.icones {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.7rem;
    color: var(--primary);
}

.icones:hover {
    color: #00aadd;
}

.wrap-div-left {
    justify-content: space-evenly;
    align-items: center;
    width: 37%;
    display: flex;
    margin-right: 3em;
}

.wrap-div-right {
    justify-content: space-evenly;
    align-items: center;
    width: 37%;
    display: flex;
    margin-left: 3em;
}

.icone-conta {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 100em;
}

.imagem-add {
    width: 50%;
    height: 50%;
}

.box-metas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 20%;
    background-color: #fff;
    transform: translateY(35%);
    border-radius: 0.4em;
    border: 1px solid var(--shadow);
    overflow-y: scroll;
}

.text-metas {
    margin-top: 0.5rem;
    font-size: 1.5em;
    color: var(--primary);
    font-weight: 800;
}

.icone-meta {
    width: 3em;
    height: 3em;
    background-color: var(--primary);
    border-radius: 100em;
}

.wrap-meta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 30%;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.wrap-titulo-barra {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 40%;
    height: 100%;
    flex-direction: column;
    margin-top: 1em;
}

.barra-progresso {
    margin-top: 0.3em;
    width: 100%;
    height: 20%;
    border: 1px solid var(--primary);
    border-radius: 7px;
}

.valor-meta {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    color: var(--primary);
}

.box-conta {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 15%;
    margin-top: .7em;
    margin-bottom: 0.3em;
}

.container-discador {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.campo-valores-discador {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17%;
    background-color: var(--secundary);
    font-size: 2em;
    color: red;
    margin-top: 4rem;
}

.discador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    height: 50%;
    margin-top: 12.5rem;
}

.backspace {
    margin: 1.9em;
    width: 2em;
    height: 2em;
}

.numero-discador {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius: 100rem;
    margin: 1.3rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid var(--primary);
    color: var(--primary);
    background-color: #fff;
    outline: none;
}

.numero-discador0 {
    margin-left: 2.4em;
    background-color: #fff;
}

.botao-discador {
    width: 45%;
    height: 6%;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 1.6em;
    margin-top: 5%;
}

.secoes-cabecalho {
    display: flex;
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    background-color: var(--primary);
}

.receita-despesa-transferencia {
    height: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: #fff;
}

.receita {
    width: 30%;
}

.despesa {
    width: 30%;
}

.transferencia {
    width: 40%;
}

.receita-despesa-transferencia {
    align-items: center;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    color: #fff;
}

.receita {
    width: 30%;
}

.despesa {
    width: 30%;
}

.transferencia {
    width: 40%;
}

.box-total {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valor-total {
    width: 45%;
    height: 55%;
    background-color: var(--tercearia);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7em;
    font-size: 1.2em;
}

.cifrao {
    margin-right: 1em;
    font-weight: 800;
    color: var(--primary);
}

.botao-excluir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    font-size: 1.2em;
    left: 1rem;
}

.box-carteira-onclick {
    border: solid 5px red;
}

.container-despesa {
    position: fixed;
    display: flex;
    top: 8%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 7;
    background-color: #fff;
}

.text-valor {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2.8rem;
    font-size: 1.2em;
    color: var(--primary);
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 10%;
}

.campo-data {
    width: 60%;
    height: 50%;
    border: 1px solid var(--primary);
    background-color: #fff;
    border-radius: 3em;
    font-size: 1.4em;
    text-align: center;
    outline: none;
}

.text-data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--primary);
    width: 20%;
    height: 30%;
    margin-right: 20%;
}

.parcelas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 10%;
}

.text-parcelas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--primary);
    width: 30%;
    height: 30%;
    margin-right: 10%;
}

.campo-parcelas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary);
    width: 30%;
    height: 50%;
    border: 1px solid var(--primary);
    border-radius: 3em;
    font-size: 1.4em;
    text-align: center;
    margin-right: 3%;
    outline: none;
}

.wrap-checkbox-parcelas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 6em;
    height: 3em;
}

.checkbox-parcelas {
    width: 1em;
    height: 1em;
    border: 3px solid black;
    border-radius: 100em;
}

.text-checkbox-parcelas {
    text-align: center;
}

.campo-tags {
    display: flex;
    align-items: center;
    width: 95%;
    height: 5%;
    border: 1px solid var(--primary);
    border-radius: 0.4em;
    margin-top: 1%;
    margin-bottom: 5%;
}

.text-tag {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    border-radius: 0.3em;
    height: 1.2em;
    color: #fff;
    padding: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
}

.img-delete-tag {
    margin-left: 0.2em;
    width: 0.5em;
    height: 0.5em;
}

.text-adicionar-tag {
    display: flex;
    align-items: center;
    border-radius: 0.3em;
    height: 1.2em;
    color: var(--primary);
    padding: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    position: absolute;
    right: 0.5em;
    border: 1px solid var(--primary);
}

.obs {
    display: flex;
    width: 95%;
    height: 15%;
    border: 1px solid var(--primary);
    border-radius: 0.5em;
    outline: none;
}

.botao-confirmar {
    border: none;
    background-color: var(--primary);
    width: 50%;
    height: 7%;
    border-radius: 1.7em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 1.5em;
    color: #fff;
    margin-top: 8%;
}

.container-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 4;
}

.campo-valores {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    box-shadow: 0px 3px 0px 0px var(--shadow);
    background-color: var(--primary);
}

.valores {
    display: flex;
    font-size: 2em;
    color: #fff;
}

.rodape {
    display: flex;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -1px 25px -1px var(--shadow);
    width: 100%;
    height: 8%;
    justify-content: center;
    background-color: #fff;
}

.button-add {
    position: absolute;
    transform: translateY(-35%);
    width: 5em;
    height: 5em;
    border-radius: 100em;
    border: none;
    background-color: var(--primary);
}

.icones {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 1em;
    margin-right: 1em;
}

.wrap-div-left {
    justify-content: space-evenly;
    align-items: center;
    width: 37%;
    display: flex;
    margin-right: 3em;
}

.wrap-div-right {
    justify-content: space-evenly;
    align-items: center;
    width: 37%;
    display: flex;
    margin-left: 3em;
}

.imagem-add {
    width: 50%;
    height: 50%;
}

.container-lista {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    bottom: 0;
    background-color: #fff;
    overflow-y: scroll;
}

.conta {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 25%;
    margin-top: .5em;
    margin-bottom: .5em
}

.icone-conta {
    width: 4em;
    height: 4em;
    background-color: var(--primary);
    border-radius: 100em;
}

.box-text-conta {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.wrap-text-conta {
    display: flex;
    flex-direction: column;
}

.all-text-conta {
    margin: .3em;
}

.text-bold {
    font-weight: 700;
}

.container-data-conta {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 0px var(--shadow);
    border-top: 1px solid var(--shadow);
}

.text-data-lista {
    margin-top: .4em;
}

.botao-salvar-cadastro-carteira {
    margin-top: 1.5rem;
    width: 35%;
    height: 2.3rem;
    border: none;
    box-shadow: 2px 2px 2px var(--shadow);
    background-color: var(--primary);
    color: #fff;
    border-radius: 1em;
    font-size: 1.3em;
}

.botao-salvar-cadastro-carteira {
    margin-top: 1.5rem;
    width: 35%;
    height: 2.3rem;
    border: none;
    box-shadow: 2px 2px 2px var(--shadow);
    background-color: var(--primary);
    color: #fff;
    border-radius: 1em;
    font-size: 1.3em;
}

.cadastro-carteira {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-40%);
    top: 20%;
    width: 95%;
    height: fit-content;
    padding: ;
    background-color: #fff;
    border-radius: 1em;
    border: 1px solid var(--shadow);
    box-shadow: 3px 3px 3px var(--shadow);
}

.fechar-cadastro-carteira {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
}

.text-cadastro-carteira {
    margin: .3rem;
    font-size: 1.3em;
}

.campo-cadastro-carteira {
    height: 2em;
    border: 1px solid var(--primary);
    background-color: var(--secundary);
    border-radius: 1em;
}

.icone-cadastro-carteira {
    align-self: center;
    position: absolute;
    top: -12.5%;
    right: 38%;
    left: 38%;
}

.botao-salvar-cadastro-carteira {
    margin-top: 1.5rem;
    width: 35%;
    height: 2.3rem;
    border: none;
    box-shadow: 2px 2px 2px var(--shadow);
    background-color: var(--primary);
    color: #fff;
    border-radius: 1em;
    font-size: 1.3em;
}

.wrap-box-carteira {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.box-icone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100em;
    width: 3.5em;
    height: 3.5em;
}

.wrap-nome-campo-conta {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 95%;
    height: 8%;
}

.campo-nome-conta {
    margin-right: 1rem;
    border: solid 1px var(--primary);
    width: 80%;
    height: 80%;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.5em;
    outline: none;
}

.input-tag {
    background-color: transparent;
    flex: 1;
    width: 100%;
    font-size: 1.2em;
    height: 95%;
    border: none;
    outline: none;
}

.campo-parcelas-on {
    background-color: #fff;
}

.container-cadastro-categorias {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.icone-categoria {
    display: flex;
    align-self: center;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-radius: 100em;
    background-color: #fff;
}