body {
    --primary: #54a8ff;
    --shadow: rgb(190, 189, 189);
    --secundary: #f2f2f2;
    --tercearia: #D2E4FA;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-inicial {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.box-conta {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 15%;
    margin-top: .7em;
    margin-bottom: 0.3em;
}

.discador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    height: 50%;
    margin-top: 12.5rem;
}

.backspace {
    margin: 1.9em;
    width: 2em;
    height: 2em;
}

.cifrao {
    margin-right: 1em;
    font-weight: 800;
    color: var(--primary);
}

.box-carteira-onclick {
    border: solid 5px red;
}

.text-valor {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2.8rem;
    font-size: 1.2em;
    color: var(--primary);
}



.botao-confirmar {
    border: none;
    background-color: var(--primary);
    width: 50%;
    height: 7%;
    border-radius: 1.7em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 1.5em;
    color: #fff;
    margin-top: 8%;
}

.container-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 4;
}




.conta {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 25%;
    margin-top: .5em;
    margin-bottom: .5em
}

.botao-salvar-cadastro-carteira {
    margin-top: 1.5rem;
    width: 35%;
    height: 2.3rem;
    border: none;
    box-shadow: 2px 2px 2px var(--shadow);
    background-color: var(--primary);
    color: #fff;
    border-radius: 1em;
    font-size: 1.3em;
}

.botao-salvar-cadastro-carteira {
    margin-top: 1.5rem;
    width: 35%;
    height: 2.3rem;
    border: none;
    box-shadow: 2px 2px 2px var(--shadow);
    background-color: var(--primary);
    color: #fff;
    border-radius: 1em;
    font-size: 1.3em;
}


.fechar-cadastro-carteira {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
}

.text-cadastro-carteira {
    margin: .3rem;
    font-size: 1.3em;
}

.campo-cadastro-carteira {
    height: 2em;
    border: 1px solid var(--primary);
    background-color: var(--secundary);
    border-radius: 1em;
}

.icone-cadastro-carteira {
    align-self: center;
    position: absolute;
    top: -12.5%;
    right: 38%;
    left: 38%;
}

.botao-salvar-cadastro-carteira {
    margin-top: 1.5rem;
    width: 35%;
    height: 2.3rem;
    border: none;
    box-shadow: 2px 2px 2px var(--shadow);
    background-color: var(--primary);
    color: #fff;
    border-radius: 1em;
    font-size: 1.3em;
}

.wrap-box-carteira {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 25%;
    overflow-y: scroll;
    position: relative;
}

.box-icone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100em;
    width: 3.5em;
    height: 3.5em;
}

.wrap-nome-campo-conta {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 95%;
    height: 8%;
}

.campo-nome-conta {
    margin-right: 1rem;
    border: solid 1px var(--primary);
    width: 80%;
    height: 80%;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.5em;
    outline: none;
}

.campo-parcelas-on {
    background-color: #fff;
}

.icone-categoria {
    display: flex;
    align-self: center;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border-radius: 100em;
    background-color: #fff;
}